<p></p>

<div>
        <table border="1">
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>User Contact</th>
                <th>User Email</th>
                <th>Monitor Id</th>
                <th>Monitor Name</th>
                <th>Monitor Brand</th>
                <th>Monitor Size</th>
                <th>Monitor Type</th>
                <th>Date</th>
            </tr>

            
            <tr ng-show="Sales.length > 0" *ngFor="let interest of Sales">
              
                <td>{{interest.user.id}}</td>
                <td>{{interest.user.name}}</td>
                <td>{{interest.user.contactNo}}</td>
                  <td>{{interest.user.email}}</td>
                  <td>{{interest.monitor.id}}</td>
                  <td>{{interest.monitor.name}}</td>
                  <td>{{interest.monitor.brand}}</td>
                  <td>{{interest.monitor.size}}</td>
                  <td>{{interest.monitor.type}}</td>
                  <td>{{interest.date}}</td>
                
            </tr>
        
                
        </table>

</div>